{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login-css') }}
{% endblock %}

{% block title %}connexion{% endblock %}

{% block body %}

{% if error %}
    <div class="alert alert-danger">
{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="container h-100">
	<div class="d-flex justify-content-center h-100">
		<div class="user_card">
			<div class="d-flex justify-content-center">
				<div class="brand_logo_container">
					<img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
				</div>
			</div>
			<div class="d-flex justify-content-center form_container">
				<form action="{{ path('login') }}" method="post">
					<div class="input-group mb-3">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-user"></i>
							</span>
						</div>
						<label for = "inputUserName"></label>
						<input type="text" name="last_username" id="last_username" class="form-control input_user" placeholder="username">
					</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
							<span class="input-group-text">
								<i class="fas fa-key"></i>
							</span>
						</div>
						<label for="inputPassword"></label>
						<input type="password" id= "inputPassword" name="_password" class="form-control input_password" placeholder="password">
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me">
							<label class="custom-control-label" for="remember_me">Remember me</label>
						</div>
					</div>
					<div class="d-flex justify-content-center mt-3 login_container">
						<button type="submit" name="button" class="btn login_btn">Login</button>
					</div>
				</form>
			</div>

			<div class="mt-4">
				<div class="d-flex justify-content-center links">
					Don't have an account?
					<a href="{{ path('register') }}" class="ml-2">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}