{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('register-css') }}
{% endblock %}

{% block title %}inscription
{% endblock %}

{% block body %}

	<div class="page-content">
		<div class="form-v9-content" style="background-image: url('{{asset('/build/images/form-v8.1ef0556b.jpg')}}')">
			<form class="form-detail" action="" method="post">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

			{{ form_errors(form) }}
			<h2>Registration Form</h2>
			
			<div class="form-row-total">
				<div class="form-row">
					{{ form_widget(form.username, {'attr': {'style':'height:60px; font-size:16px; color:#e5e5e5;', 'class': 'input-text', 'placeholder': 'Your Name', 'id': 'full-name', 'name': 'full-name', 'type': 'text'}}) }}
				</div>
				<div class="form-row">
					{{ form_widget(form.email, {'attr': {'style':'height:60px; font-size:16px; color:#e5e5e5;', 'class': 'input-text', 'placeholder': 'Your Email', 'required pattern': '[^@]+@[^@]+.[a-zA-Z]{2,6}', 'id': 'your-email', 'name': 'your-email', 'type': 'text'}}) }}
				</div>
			</div>

			<div class="form-row-total">
				<div class="form-row">
					{{ form_widget(form.password, {'attr': {'style':'height:60px; font-size:16px; color:#e5e5e5;', 'class': 'input-text', 'placeholder': 'Your Password', 'id': 'password', 'name': 'password', 'type': 'password'}}) }}
				</div>
				<div class="form-row">
					{{ form_widget(form.confirmedpassword, {'attr': {'style':'height:60px; font-size:16px; color:#e5e5e5;', 'class': 'input-text', 'placeholder': 'Comfirm Password', 'id': 'comfirm-password', 'name': 'comfirm-password', 'type': 'password'}}) }}
				</div>
			</div>

			<div class="form-row-total" style="display:flex;justify-content:center;">
					{{ form_widget(form.roles, {'attr': {'style':'margin:auto; border-radius:25px;font-size:26px;color:white; width:400px;background: rgba(255, 255, 255, 0.2)', 'class': 'input-select', 'id': 'roles', 'name': 'roles', 'type': 'roles'}}) }}
			</div>

			<div class="form-row-last">
				{{ form_widget(form.register, {'attr': {'style':'height:60px', 'type': 'submit', 'class': 'register', 'value' : 'Register'}}) }}
			</div>
			<div class="form-row-last">
				<a style='height:60px' class="btn btn-success" href="{{ path('login') }}" role="button">Login</a>
			</div>
			{{  form_end(form) }}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('register-js') }}
{% endblock %}
