<table>
    <tr>
        <th>id</th>
        <th>Nom</th>
    </tr>

    <tr>
        <th>{{id}}</th>
        <th>{{nom}}</th>
    </tr>    

</table>

<br />
    <br />
    {% for p in produits %}
    {% if loop.index <= 5 %}
        <p>{{p.nom}}</p>
    {% endif %}
    {% endfor %}