<table border="3">
    <tr bgcolor="#ffe4c4">
        <th>id</th>
        <th>Nom</th>
    </tr>

    {% for p in produits %}
    <tr bgcolor="#ffe4c4">
        <th>{{p.id}}</th>
        <th>{{p.nom}}</th>
    </tr>
    {% endfor %}

</table>