body
{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman',Helvetica, Arial, sans-serif;
}

#nav
{
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    height: 45px;
}

#header_list
{
    list-style: none;
    margin-left: 100px;
    margin-top: 5px ;
}

li
{
    float: left;
}

#menu, #search
{
    margin-top: 5px ;
    margin-right: 20px;
}

#champs
{
    height: 30px;
    width: 200px;
    margin-right: 3px;
    border-radius: 3px;
    padding-left: 8px;
    font-size: 11px;
    border: 1px solid #e5e5e5;
}

button
{
    height: 33px;
    border-radius: 3px;
    background-color: rgb(105, 137, 168);
    color: white;
    font-size: 11px;
    padding: 10px;
    margin-right: 6px;
    border: 1px solid #4e5788;
}

#nav p
{
    margin-top: 0;
    font-size: 25px;
    margin-left: 300px;
    margin-right: 500px;
}

#first_title
{
    font-style: italic;
    justify-content: center;
    margin-left: 33%;
    padding-top: 60px;
}

#first_title h1
{
    padding: 0;
    margin-top:-10px;
}

#grande_image
{
    margin-left: 400px;
    height: 700px;
    width: 1200px;
}

.texte_image
{
    margin-left: 400px;
    font-size: 16px;
    color: gray;
    padding-top: 2px;
}

.texte_image p
{
    margin:3px;
}

h4
{
    font-size: 90%;
    margin-top: 50px;
    margin-left: 700px;
}

#social_media
{
    margin-left: 700px;
}

.article_principale1
{
    width:580px;
    font-size: 20px;
    margin-left: 700px;
}

.ligne1
{
    margin-left: 950px;
    border-top: 1px solid gray;
    width: 75px;
}

#between_1_2
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 20px;
    margin-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

#between_1_2 p
{
    margin: 1px;
}

#before_columns
{
    margin-top: 40px;
    margin-left:550px;
    width: 950px;
}

#before_columns h4
{
    font-size: 16px;
    margin-left: 0;
    margin:3px;
}

#before_columns p
{
    font-size: 15px;
    color: gray;
    margin:5px;
}

section
{
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 530px;
    -webkit-columns: 4 80px;
    -moz-columns: 4 80px;
    columns: 4 80px;
}

#before_second_article
{
    margin-left: 550px;
    margin-bottom: 50px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.ligne2
{
    margin-left: 550px;
    margin-bottom: 20px;
    border-top: 2px solid black;
    width: 75px;
}

.texte_video
{
    font-size: 15px;
    color: gray;
    padding-top: 2px;
}

#signature
 {
     font-size: 13px;
     margin-left: 15px;
     padding-top: 2px;
 }

#article_2
{
    margin-left: -50px;
}

.texte_video2
{
    width: 700px;
    margin-left:-50px ;
    font-size: 15px;
    color: gray;
    padding-top: 2px;
}

.texte_end
{
    font-size: 12px;
    color: gray;
    padding-top: 2px;
}

.end_links
{
     font-size: 13px;
     color: gray;
     padding-left: 3px;
     padding-right: 3px;
}

#second__element
{
     border-left: 1px solid gray;
     border-right: 1px solid gray;
}

#ending
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

#comments
{
    padding-top: 8px;
    font-weight: bold;
    font-size: 13px;
    width: 350px;
}

#social_media_end
{
    width: 150px;
}