{% extends 'base.html.twig' %}
{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}


	<div class="container-fluid col-sm-12 col-md-10 col-lg-4" style="margin-top:50px;content-align:center;">

		<h3 style="text-align:center;">Inscription</h3>

		<div class="well" style="background-color:#f1f1f1;margin-top:50px;content-align:center;">
			{{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
			{# Les erreurs générales du formulaire. #}

			{# Génération manuelle et éclatée : #}
				<div
				class="form-group"> {# Génération du label. #}
				{{ form_label(form.name, "Name", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}

				{# Affichage des erreurs pour ce champ précis. #}

				<div
					class="col-sm-12">
					{# Génération de l'input. #}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			{# Génération manuelle et éclatée : #}
				<div
				class="form-group"> {# Génération du label. #}
				{{ form_label(form.email, "Adresse Mail", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}

				{# Affichage des erreurs pour ce champ précis. #}

				<div
					class="col-sm-12">
					{# Génération de l'input. #}
					{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			{# Génération manuelle et éclatée : #}
			<div
				class="form-group">
				{# Génération du label. #}
				{{ form_label(form.password.first, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

				<div
					class="col-sm-12">
					{# Génération de l'input. #}
					{{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			{# Génération manuelle et éclatée : #}
			<div
				class="form-group">
				{# Génération du label. #}
				{{ form_label(form.password.second, "Confirmer mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

				<div
					class="col-sm-12">
					{# Génération de l'input. #}
					{{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			{# Génération manuelle et éclatée : #}
			<div class="form-group col-sm-12">
				<div
					class="col-sm-12">
					{# Génération de l'input. #}
					{{ form_widget(form.INSCRIPTION, {'attr': {'class': 'btn btn-primary', 'style' : "width:150px;"}}) }}
				</div>
			</div>

			{# Génération manuelle et éclatée : #}
			<div class="form-group col-sm-12">
				<div
					class="col-sm-12">
					{# Génération de l'input. #}
					<a href="{{ path('login') }}"><button type="button" style="width:150px;" class="btn btn-info">LOGIN</button></a>
				</div>
			</div>

			{# Fermeture de la balise <form> du formulaire HTML #}
			{{ form_end(form) }}
		</div>
		
	</div>
</div>{% endblock %}
