{% extends 'base.html.twig' %}
{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}

	<div class="container-fluid col-sm-12 col-md-10 col-lg-4" style="margin-top:50px;content-align:center;">


		<div class="well" style="background-color:#f1f1f1;margin-top:50px;content-align:center;">
			<div class="col-md-10 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">
							{% if error %}
								<div class="alert alert-danger">
									{{ error.messageKey|trans(error.messageData) }}
								</div>
							{% endif %}
							<div class="form-group">
								<label for="email" class="col-md-4 control-label">E-Mail Address</label>
								<div class="col-md-12">
									<input id="email" type="email" class="form-control" name="email" value="{{ last_username }}">
								</div>
							</div>
                            
							<div class="form-group">
								<label for="password" class="col-md-4 control-label">Password</label>
								<div class="col-md-12">
									<input id="password" type="password" class="form-control" name="password">
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-12 col-md-offset-4">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-btn fa-sign-in"></i>
										Login
									</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
