{% extends 'base.html.twig' %}


{% block body %}

<div class="container-fluid">

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Publié ?</th>
            <th>Actions </th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.published }}</td>
            <td></td>
        </tr>
        </tbody>
        {% endfor %}

    </table>

</div>
{% endblock %}
