body
{
    padding: 0;
    margin: 0;
}

/* nav */

nav
{
    background-color:black;
    opacity: 0.7;
    height: 40px;
}

nav ul
{
    margin-left: 200px;
    margin-top: 0px;
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
    margin-top: 10px;
}

nav a
{
    font-size: 0.8em;
    color:gray;
    text-decoration: none;
}

nav img
{
    margin-right: 900px;
}

/* home_image */

#home
{
    height: 680px;
    background: url('../images/hero-image.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#home_texte
{
    position: absolute;
    left: 30%;
    width: 38%;
    color: white;
    font-size: 0.8em;
}

#home_texte h1
{
    font-size: 50px;
    margin-left: 25px;
    margin-top: 70px;
    width: 95%;
    text-align: center;
    height: 200px;
}

#home_texte p
{
    color: #d4cecb;
    margin-top: 60px;
    font-size: 14px;
    text-align: center;
}

#home button
{
    margin-top: 50px;
    margin-left: 38%;
    height: 50px;
    border-radius: 3px;
    background-color: hsl(0, 100%, 69%);
    color: white;
    font-size: 23px;
    padding: 10px;
    border: 1px solid hsl(0, 100%, 69%);
}

#who
{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flecheblanc
{
    position: absolute;
    right: 5px;
    top: 60px;
}

.red_texte
{
    margin-top: 11px;
    margin-bottom: 11px;
    text-align: center;
    color: red;
    font-size: 1.8em;
    width: 300px;
}

.red_ligne
{
    border-bottom: 1px solid red;
    margin-bottom: 13px;
    text-align: center;
    color: red;
    font-size: 1.8em;
    width: 100px;
}

#text_who
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 910px;
}

#text_who span
{
    color: red;
}

#get-involved
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-top: 40px;
    background-color: #f1f1f1;
}

.involved_parts
{
    display: flex;
    justify-content: space-around;
    width: 1000px;  
}

.involved_part
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 220px;
    margin: 15px;   
}

.involved_part button
{
    margin-top: 20px;
    color: red;
    font-size: 13px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #f2f2f2;
}

#back-to-top
{
    background-color: #ff3131;
    position: relative;
    height: 170px;
}

#final
{
    height: 40px;
    width: 200px;
    margin-left: 200px;
    margin-top: 100px;
}

#flecheorange
{
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

@media screen and (max-width: 1199px)
{
    #flecheorange
    {
        display: initial;
    }
    .flecheblanc
    {
        display: none;
    }
}

@media screen and (max-width: 991px)
{
    .involved_parts
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .involved_part
    {
        width: 470px;
    }

    #text_who
    {
        width: 600px;
    }

    #final
    {
        margin-left: 100px;
    }

}

@media screen and (max-width: 767px)
{
    .involved_part
    {
        width: 570px;
    }
    #final
    {
        margin-left: 20px;
    }
}