body
{
    display: flex;
    flex-direction: column;

}

div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.container-fluid
{
    background-color: gray;
    max-width: 500px;
    padding:20px;
}

body
{
    display: flex;
    margin-top: 250px;
}

h1, p, ul, li
{
    color: white;
}

.btn
{
    margin-top: 30px;
}