.img-container
{
    width: 500px;
    height: 500px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease; /* Transition de type ease */
}

.img-container:hover
{
    transform: translateX(300px); /* On déplace l'objet */
}

.element {
    transform: rotate(90deg);
    width: 500px;
    height: 500px;
    transition-duration: 1s;
    transition-timing-function: ease; /* Transition de type ease */
}

.element:active
{
    transform: translateX(200px); /* On déplace l'objet */
}