img 
{
    width:100% !important;
    height : 100% !important;
    object-fit:cover;
}


.img-container 
{
    position: relative;
}

.lien1
{
   margin-top: 490px ;
   mari
}

.positioning
{
    position: absolute;
    right: 15px;
    color: white;
    padding-top: 27px;
    font-size: 16px;
    line-height: 18px;
}
.positioning li 
{
    margin-left: 28px;
}
.positioning  a 
{
    color: white;
}
.positioning #card 
{
    padding-left: 5px!important;
}


section 
{
    margin-top: 40px!important;
}

body
{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;

}
section
{
    padding-top: 50px;
}

.bloc
{

    margin-left: 80px;
    margin-right: 80px;
}
.section_2
{

    display: flex;
    justify-content: space-around;
    margin: 0;
}

.card-body
{
    margin-top: 25px;
}

.section_3 img
{
    height: 300px;
    width: 100%;
}

[class*="red_star"]
{
    position: relative;
}

.star_red
{
    position: absolute;
    bottom: 50px;
    right: 15px;
}

section img
{
    border-radius: 4px;
}