#modal {
    display : none; /* Par défaut, on cache l'overlay */
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    text-align: center; /* Pour centrer l'image que l'overlay contiendra */

    /* Ci-dessous, nous appliquons un background de couleur noire et d'opacité 0.6. Il s'agit d'une propriété CSS3. */
    background-color: rgba(0,0,0,0.2);
}

#modal img {
    margin-top: 75px;
    width: auto;
    height: auto;
}

body
{
    padding-top: 150px;
}

p {
    text-align: center;
}

img
{
    margin-left: 5px;
    margin-top: 15px;
    width: 200px;
    height: 200px;
}