body
{
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

#nav
{
    height: 35px;
    margin-left: 1680px;
}

#header_list
{
    list-style: none;
    margin-right: 10px;
    margin-top: 0;
}

#first_element
{
    margin-top:7px;
}

li
{
    float: left;
    margin-right: 20px;
}

#app, #profile
{
    height: 30px;
    width: 30px;
}

#logo
{
    margin-left: 37%;
    margin-top: 100px;
    height: 210px;
    width: 450px;
}

input
{
    height: 40px;
    width: 600px;
    margin-top: -25px;
    margin-left: 33%;
    padding-left: 45px;
    border-radius: 25px;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 3px 0px 0px #e5e5e5;
}

#logo_micro
{
    margin-top:-37px;
    margin-left: 1240px;
}

#micro
{
    height: 30px;
}

#logo_search
{
    margin-top:-26px;
    margin-left: 650px;
}

#search
{
    height: 17px;
    width: 17px;
}

button
{
    height: 35px;
    width: 150px;
    font-size: 15px;
    margin-top:40px;
    margin-right: 5px;
    border-radius: 5px;
    border:none;
    color: gray;
}

#first_button
{
    margin-left:775px
}

#language_link
{
    margin-left: 850px;
    margin-top: 30px;
    font-size: 13px;
}


#footer
{
    height: 35px;
    margin-top: 330px;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 5px;
    background-color:#f2f2f2;
    border: 1px solid #e5e5e5;
}

#footer p
{
    padding-left: 30px;
    
    font-size: 14px;
    color: #6f6f6f;
}

#footer_list
{
    height: 40px;
    list-style: none;
    padding-left: 30px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f2f2f2;
}

#footer_list li
{
    padding-top: 15px;
    margin-right: 30px;
    font-size: 13px;
    color: #6f6f6f;
}

#droite
{
    margin-left: 1040px;
}