<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SYMFONY{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <footer>
        <h1>Bonjouuur</h1>
    </footer>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}   

    <footer>
        <h1>CIAO</h1>
    </footer>

    </body>
</html>
