body
{
    display:flex;
    justify-content: center;
}
#machine
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
}

#tablet, #mobile
{
    display: none;
}

#elements
{
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
}

.red_element
{
    margin-left: 15px;
    margin-top: 15px;
    width: 1600px;
    height: 40px;
    background-color: red;
}

.orange_element
{
    margin-left: 15px;
    margin-top: 15px;
    width: 1600px;
    height: 140px;
    background-color: orange;
}

.yellow_element1, .yellow_element2, .yellow_element3, .yellow_element4
{
    margin-left: 15px;
    margin-top: 15px;
    height: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.yellows
{
    width: 1050px;
    padding: 0;
}

.yellows_lines
{
    display: flex;
}

.green_element
{
    margin-left: 15px;
    margin-top: 15px;
    height: 400px;
    width: 535px;
    background-color: green;
}

.blue_element
{
    margin-left: -535px;
    margin-top: 430px;
    height: 400px;
    width: 535px;
    background-color: blue;
}

.pink_element
{
    margin-left: 15px;
    margin-top: -180px;
    height: 400px;
    width: 1035px;
    background-color: pink;
}

@media screen and (max-width: 1400px)
{
    #tablet
    {
        display: initial;
    }

    #desktop, #mobile
    {
        display: none;
    }
    
    .yellow_element2, .yellow_element3, .yellow_element4
    {
        display: none;
    }

    .red_element
    {
        order: 1;
    }
    .orange_element
    {
        order: 2;
        width: 60%;
    }

    .yellows
    {
        width: 100%;
        order: 4;
    }

    .blue_element
    {
        margin-left: 15px;
        margin-top: 15px;
        width: 100%;
        order: 6;
    }

    .green_element
    {
        width: 30%;
        height: 140px;
        order: 3;
    }
    
    .pink_element
    {
        margin-left: 15px;
        margin-top: 15px;
        width: 100%;
        order: 5;
    }

}

@media screen and (max-width: 700px)
{
    #mobile
    {
        display: initial;
    }

    #desktop, #tablet
    {
        display: none;
    }

    .yellow_element2, .yellow_element3, .yellow_element4
    {
        display: none;
    }

    .red_element
    {
        order: 1;
        height: 60px;
    }
    .orange_element
    {
        order: 3;
        width: 100%;
        height: 400px;
    }

    .yellows
    {
        width: 100%;
        order: 2;
        height: 400px;
    }
    .yellow_element1
    {
        height: 385px;
    }

    .blue_element
    {
        margin-left: 15px;
        margin-top: 15px;
        width: 100%;
        order: 6;
        height: 400px;
    }

    .green_element
    {
        width: 100%;
        order: 4;
        height: 400px;
    }
    
    .pink_element
    {
        margin-left: 15px;
        margin-top: 15px;
        width: 100%;
        order: 5;
        height: 400px;
    }

}
