{% extends 'template.html.twig' %}
{% block body %}


{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{message}}
</div>
{% endfor %}


<div class="container-fluid col-sm-12 col-md-10 col-lg-8" style="margin-top:50px;content-align:center;">

  <h3 style="text-align:center;">Formulaire Equipe</h3>

<div class="well" style="background-color:#f1f1f1;margin-top:50px;padding:15px;content-align:center;">
  {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nom_equipe, "Nom de l'equipe", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.nom_equipe, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.sport, "Sport", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.sport, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group col-sm-12">
    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'style' : "width:150px;"}}) }}
    </div>
  </div>
    
  <h3 style="text-align:center;">JOUEURS</h3>

  <div class="form-group col-sm-12">
    <div class="col-sm-12">
      {{ form_widget(form.joueurs) }}

      <a href="#" id="add_joueur" class="btn btn-primary">Ajouter une joueur</a>
    </div>
  </div>
    {{ form_end(form) }}

</div>  
</div>
{% endblock %}
 
{% block javascripts %}

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#appbundle_equipe_joueurs');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_joueur').click(function(e) {
      addJoueur($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addJoueur($container);
    } else {
      // S'il existe déjà des joueurs, on ajoute un lien de suppression pour chacune d'entre elles
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire JoueurType
    function addJoueur($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__nom__label__/g, 'Joueur n°' + (index+1))
        .replace(/__nom__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>

{% endblock %}