{% extends 'template.html.twig' %}
{% block body %}


{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{message}}
</div>
{% endfor %}


<div class="container-fluid col-sm-12 col-md-10 col-lg-8" style="margin-top:50px;content-align:center;">
<h3 style="text-align:center;">Formulaire 1</h3>
<div class="well" style="background-color:#f1f1f1;margin-top:50px;content-align:center;">
  {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-md-12">
      {# Génération de l'input. #}
      {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.age, "Age", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.codePostal, "Code Postal", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>



  {# Génération manuelle et éclatée : #}
  <div class="form-group">

    <div class="col-sm-12">
      {{ form_row(form.permis, {'attr': {'style': 'display:flex; margin-left:15px;'}}) }}
    </div>
  </div>
  
  {# Génération manuelle et éclatée : #}
  <div class="form-group col-sm-12">
    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'style' : "width:150px;"}}) }}
    </div>
  </div>
  

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
</div>

{% endblock %}