{% extends 'template.html.twig' %}
{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
  {{message}}
</div>
{% endfor %}

<div class="container-fluid col-sm-12 col-md-10 col-lg-8" style="margin-top:50px;content-align:center;">

<h3 style="text-align:center;">Formulaire 2</h3>

<div class="well" style="background-color:#f1f1f1;margin-top:50px;content-align:center;">
  {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.montant, "Montant", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.email.first, "Mail", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.email.first, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.email.second, "Confirmer mail", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.email.second, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.telephone, "Telephone", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}

    <div class="col-sm-12">
      {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Génération manuelle et éclatée : #}
  <div class="form-group col-sm-12">
    <div class="col-sm-12">
      {# Génération de l'input. #}
      {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary', 'style' : "width:150px;"}}) }}
    </div>
  </div>

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
</div>

{% endblock %}