#bloc_page
{
    width: 900px;
    margin: auto;
}

section, footer h2
{
    font-family: 'Times New Roman', Arial, Helvetica,Times, serif;
    font-weight: normal;
    text-transform: lowercase;
}

/* Header */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 20px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Corps */

section
{
    display: flex;
    flex-direction: column;
}

/* Footer */

footer h2, footer p 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
