<li class="list-group-item" [ngClass]="{'list-group-item-success' : Post.loveIts>0 , 'list-group-item-danger' : Post.loveIts<0}">
    <h2>{{ Post.title }}</h2>
    <p>{{ Post.content }}</p>
        <p>{{ Post.loveIts }}</p>
    <button (click)="loveit()" type="button" class="btn btn-danger" style="margin-left: 15px;">Love it
        !!</button>
    <button (click)="dontloveit()" type="button" class="btn btn-success" style="margin-left: 15px;">Don't love it
        !!</button>
    <p style="position: absolute; right: 15px; top: 15px;">{{ Post.created_at }}</p>
</li>