<table>
    <tr>
        <th>id</th>
        <th>Label</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    {% for p in produit %}
    <tr>
        <th>{{p.id}}</th>
        <th>{{p.Labell}}</th>
        <th>{{p.Price}}</th>
        <th>{{p.Quantity}}</th>
    </tr>
    {% endfor %}

</table>