{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('image-css') }}
{% endblock %}
{% block body %}
        <div class="img-container" >
            <img class="img-fluid"  src="{{asset('/build/images/image.81d80d11.jpg')}}" title="my image" id="image" alt="My image">
        </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('image-js') }}
{% endblock %}